<p>property-details works!</p>

<h5>Propery ID :{{propertyId}}</h5>
<ul class="list-inline">
<li class="list-inline-item">
<button class="btn btn-primary" (click)="onBack()">Back</button>
</li>
<li class=" list-inline-item">
<button class="btn btn-primary" [routerLink]="['/property-details','1']">1</button>
<button class="btn btn-primary" [routerLink]="['/property-details','2']">2</button>
<button class="btn btn-primary" [routerLink]="['/property-details','3']">3</button>
<span></span>
<button (click)="onNext()" class="btn btn-primary" >Next</button>
</li>
</ul>